#section-header{
    width: 98vw;
    margin:auto;
    position: relative;

    .block-img{
        height: 300px;
        top: 1vw;
        border-radius: 20px;

        position: relative;
        overflow: hidden;
    }

    .container{
        position: absolute;
        margin: auto;
        bottom: 30px;
        left: 12.5vw;
        z-index: 1;

        .colg{
            background: none;
            width: 100%;


            h1{
                font-weight: 600;
                font-size: 3.5rem;
                color: $light;
            }
        }
    }
}