#section-fullscreen{
    position: relative;
    margin: 50px auto;
    background-size: cover;
    background-position: center;

    .container{
        .colg{
            padding: 80px 50px;
            width: calc(50% - 100px);
            
            h2{
                margin-bottom: 30px;
                color: $light;
                font-family: 'all-round-gothic',sans-serif;
                font-size: 1.8rem;
            }

            p{
                margin-top: 20px;
                text-align: left;
                color: $light;
            }
        }
    }
}