#section-citation{
     .container{
          padding: 100px 0;

          p{
               font-size: 3rem;
               line-height: 3.5rem;
               text-align: center;
          }
     }
}